@media(min-width: 52rem) {
    body {
        line-height: 1.5;
    }

    .slider {
        height: 50rem;
    }

    .slider__item {
        flex-direction: row;
        justify-content: right;
    }

    .slider__image {
        order: 2;
        max-width: clamp(28rem, 48.5vw, 55rem);
    }

    .quotes__img {
        position: absolute;
        top: -2.5rem;
        left: 5rem;
    }

    .slider__image {
        z-index: 1;
    }

    .snake__img {
        max-width: 82%; 
        max-height: 82%; 
    }
    
    .slider__buttons {
        left: 12rem;
    }

    .slider__content {
        position: absolute;
        left: clamp(1rem, 5vw, 5rem);
        z-index: 2;
        text-align: left;
        width: 50%;
    }

    .slider__author {
        flex-direction: row;
        gap: 0.75rem;
    }

    .bottom__img {
        position: absolute;
        bottom: 0;
        height: 4.5;
    }
}