@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf),
        url(./fonts/Inter-VariableFont_opsz\,wght.woff),
        url(./fonts/Inter-VariableFont_opsz\,wght.woff2);
}

:root {
    --light-gray: #adadad;
    --gray: #2e2d2d;
    --dark-gray: #222222;
    --black: #000000;
    --white: #ffffff;
    --orange: #d85a39;
    --dark-red: #7e2116;
    --yellow: #ae8f20;
    --green: #3e5503;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
    background: linear-gradient(to bottom, var(--black), var(--gray));
    background-repeat: no-repeat;
}

.slider {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 41.7rem;
}
  
.slider__item {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.25rem;
    width: 88%;
    position: relative;
}
  
.slider__item.active {
    display: flex; 
}
  
.slider__image {
    flex: 1;
    width: 100%;
    max-width: 28rem;
    height: auto;
    aspect-ratio: 700 / 660;
    border-radius: 0.5rem;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slider__image--orange {
    background-image: url('./images/pattern-bg-orange.svg');
}

.slider__image--yellow {
    background-image: url('./images/pattern-bg-yellow.svg');
}

.snake__img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 85%; 
    max-height: 85%; 
    border-radius: 0.5rem;
}

.slider__content {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 2.5vw, 2.2rem);
    position: relative;
    padding-top: clamp(1.5rem, 1.5vw, 2rem);
    width: 95%;
}

.quotes__img {
    position: absolute;
    top: 0;
    left: 8rem;
    width: clamp(3.5rem, 10vw, 7.5rem);
    height: auto;
}
  
.slider__review {
    font-size: clamp(1.15rem, 2.5vw, 2rem);
    color: var(--white);
}

.slider__review span {
    font-style: italic;
}

.slider__author {
    display: flex;
    flex-direction: column;
}
  
.slider__name {
    font-size: clamp(1rem, 1.35vw, 1.5rem);
    font-weight: 700;
}

.slider__name--orange {
    color: var(--orange);
}

.slider__name--yellow {
    color: var(--yellow);
}
  
.slider__status {
    color: var(--light-gray);
    font-size: clamp(1rem, 1.35vw, 1.5rem);
}

.slider__buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    width: auto;
    display: flex;
    border-radius: 2rem;
    transform: translate(-50%, -50%); 
    background-color: var(--green);
    box-shadow: 0.5rem 0.5rem 1rem var(--black),
                -0.5rem 0.5rem 1rem var(--black);
}
  
.slider__button {
    border: none;
    width: clamp(2.5rem, 4vw, 3.5rem);
    height: clamp(2.5rem, 4vw, 3.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--light-gray);
}

.slider__button img {
    height: clamp(0.75rem, 1.1vw, 1rem);
}

.slider__button--prev {
    border-radius: 2rem 0 0 2rem;
}

.slider__button--prev img {
    border-radius: 2rem 0 0 2rem;
}

.slider__button--next {
    border-radius: 0 2rem 2rem 0;
}
  
.slider__button:hover {
    background-color: var(--green);
}

.bottom__img {
    height: clamp(4.5rem, 9.5vw, 9.5rem);
    width: auto;
    align-self: start;
}